@charset "utf-8";


body {
    height: 100vh;
}


main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.landing-page{
    position: relative;
    background: #030303;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}


/*---------------------------------------- */
/*-----------------Title------------------ */
/*---------------------------------------- */

.heading {
    margin-top: 3%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 53px;
    width: 100%;
}


.short-heading {
    font-size: 21px;
    margin-bottom: 3%;
    font-weight: 600;
    color: rgb(255 255 255 / 0.4);
}


/*---------------------------------------- */
/*------------------Input----------------- */
/*---------------------------------------- */

form {
    position: relative;
    right: -13%;
    width: 53rem;
    height: 6rem;
}


.input {
    width: 96%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 22px;
    padding: 0px 0px 4px 16px;
    background-color: #171820;
    color: #fff;
}


.button {
    width: 27%;
    height: 98%;
    color: #fff;
    border-radius: 8px;
    background-color: #612cff;
    position: absolute;
    left: 525px;
    top: 0px;
    font-size: 19px;
}


.button:hover {
    background-color: rgb(97 44 255/0.7);
}



/*---------------------------------------- */
/*--------------result-list--------------- */
/*---------------------------------------- */
.result-list {
    width: 96%;
    height: auto;
    color: #fff;
    font-size: large;
    list-style: none;
    margin-top: 2%;
}


.result-list ul {
    list-style: none;
}


.result-list li {
    background-color: #19191f;
    padding: 10px;
    border-radius: 3px;
}


.result-list li:hover:not(.not-found) {
    background-color:  #612cff;
}


/*---------------------------------------- */
/*--------------movie-fetch--------------- */
/*---------------------------------------- */

.movie {
    display: flex;
    border-radius: 5px;
    height: 327px;
}


.movie-show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    width: 89rem;
    height: 357px;
    color: #fff;
}


.movieDisplaySections {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.movie-poster {
    width: 257px;
    height: 327px;
    margin-right: 2.5%;
    border-radius: 5px;
}


.movie-details {
    flex-grow: 1;
}


.movie-title {
    font-size: 36px;
    font-weight: 500;
    margin-top: -12px;
}


.movie-year,
.movie-duration {
    color: rgb(240 240 240/0.4);
    margin-top: 7px;
}


.yearDuration {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    margin-left: -8px;
}


.yearDuration::after {
    content: "|";
    margin-left: -75px;
    color: rgb(240 240 240 / 0.4);
}


.yearDuration .movie-duration {
    margin-left: 10px; 
}


.movie-description {
    font-size: 19px;
    padding: 26px 0;
}


.movie-genre .genre {
    background-color: #24252D;
    border-radius: 17px;
    padding: 6px 21px 9px;
    border-radius: 23px;
}


.movie-genre .genre:not(:first-child) {
    margin-left: 10px; 
}
